<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="../css/product.css">
</head>
<body>
    <div class="GoBack">
        <button onclick="window.location.href='../index.html'">Go Back</button>
    </div>
    <div class="night-mode-toggle">
        <button id="toggle">Night Mode</button>
    </div>
    <div id="product-details"></div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/product.js"></script>
</body>
</html>